include ../company/company
include ../company-info/company-info

mixin offers(service, mod)
    .offers(class= mod)
        +company(service, service.logo)
        .offers__info
            .offers__title= service.title
            +company-info(service)
            .offers__down-text
                .offers__text= service.phone
            if block
                block

