include ../company/company
include ../company-info/company-info

mixin offers(logo, title, categories, mincost, derpature, timework,downtext)
    .offers
        +company(logo, "#")
        .offers__info
            .offers__title= title
            +company-info(categories, mincost, derpature, timework)
            .offers-down_text
                .text= downtext

