@import '../../stylus/vars.styl'

.offers
    position relative
    float right
    width 700px
    height 250px
    border-radius 10px
    background #fffffe
    margin 0 auto
    border 2px dashed border-offers
    &:hover
        .offers__title
            color buttons
            cursor pointer

.offers + .offers
    margin-top 30px

.offers__info
    margin 0 0 0 200px
    padding-top 30px

.offers__title
    font-size 20px

.offers__down-text
    margin-top 90px
    height 35px
    width 450px
    color #000
    background-color #f8f9fb
    border-radius 3px
    box-shadow: inset (0 0 3px 0 rgba(229,229,229,1))
    overflow hidden

.offers__text
    font-size 12px
    padding 9px 0 0 9px
    text-align left

/* 
Стили для offers блока на странице companypage
*/

.offers_company
    width 980px
    margin 0 auto
