include ../company/company
include ../company-info/company-info

mixin offers(logo, title, categories, mincost, derpature, timework,downtext, mod)
    .offers(class= mod)
        +company(logo, "#")
        .offers__info
            .offers__title= title
            +company-info(categories, mincost, derpature, timework)
            if block
                block
            .offers__down-text
                .offers__text= downtext

