main-font= Verdana,Scane-serif, serif
buttons= #fb6362
header = #FFFFFF
header-text-color= #FA2D2D
buttons-text-color= #ffffff
company-header= #FFF5BF

.main
    min-height: 100%
    margin:auto
    background-color: #F5F5F5
    font-family: main-font

.header
    max-height: 90px
    font-size: 2em
    color: buttons-text-color
    background-color: buttons

.header__title
    padding: 10px
    margin: 0

.header__logo
    position: absolute
    right:100px
    top: 0

.header__bell
    position: absolute
    width: 50px
    right:0
    top:0

.header__create-new
    display: block
    position: relative
    line-height: 50px
    padding: 5px
    font-size: 1em
    background: buttons
    color: #ffffff
    margin-left: 40%
    margin-right: 40%

.header__create-new:hover
    background-color: white
    color: buttons
