buttons= #fb6362
.slider
    font-family: Georgia
    font-size: 18px

.slider__header
    width: 90%
    margin: auto
    background-color: #fb6362
    color: #ffffff
    border: 2px solid #3F3F3F
    padding: 8px
    font-weight: bold
    margin-top: 5px
    cursor: pointer
    text-align: center

.slider__content
    position: relative
    overflow: hidden
    width: 90%
    margin: auto

.content
    color: #393939
    padding: 15px
    border: 2px solid #3F3F3F
    border-top: none
    text-align: left
    background: linear-gradient(to right, #efefef, #c9c9c9)

.content__logo
    float: right
    margin: auto 10px
    width: 40%

.content__image
    width: 100%

.content:after //распорка
    content: ""
    display: table
    clear: both

.button
    display: inline-block

.button__button
    display: block
    position: relative
    padding: 5px
    font-size: 1em
    background: buttons
    color: #ffffff

.button__button:hover
    background-color: white
    color: buttons

.form
    margin-top: 15px
