.slider
    font-family: Georgia
    font-size: 18px

div.header-m
    width: 90%
    margin: auto
    background-color: #fb6362
    color: #ffffff
    border: 2px solid #3F3F3F
    padding: 8px
    font-weight: bold
    margin-top: 5px
    cursor: pointer
    text-align: center

div .logo
    float: right
    margin: auto 10px
    width: 40%

.logo img
    width: 100%

div.button_group
    text-align: center

.content
    position: relative
    overflow: hidden
    width: 90%
    margin: auto

.text
    color: #393939
    padding: 15px
    border: 2px solid #3F3F3F
    border-top: none
    text-align: left
    background: linear-gradient(to right, #efefef, #c9c9c9)

.text:after //распорка
    content: ""
    display: table
    clear: both

.company__same-button
    margin-left: 5px
    margin-top: 5px

form
    margin-top: 15px
