.header
  max-height 120px
  color #FA2D2D

.header__title
  margin 0  0 0 15%
  font-size 4em
  padding 10px
  display inline-block

.header__logo
  display inline-block
  position relative
  float right
  margin 20px 8%
  width 120px
  height 120px
  background url(../images/food.svg) no-repeat
  background-size contain

.header__slogan
  margin 0 0 0 30%
  font-size 1.6em
  position relative