header = #FFFFFF
header-text-color= #FA2D2D
buttons= #fb6362
buttons-text-color= #ffffff
company-header= #FFF5BF
main-font= Gotham SSn, Arial, serif
.main
    min-height: 100%
    margin:auto
    background-color: #F5F5F5
    font-family: main-font

.header
    max-height: 90px
    font-size: 2em
    color: buttons-text-color
    background-color: buttons

.header__title
    padding: 10px
    margin: 0

.header__logo
    position: absolute
    right:100px
    top: 0

.header__bell 
    position: absolute
    width: 50px
    right:0
    top:0

.wrapper
    width:90%
    margin: auto

.wrapper__header
    position: relative
    top: 30px

.header__create-new
    display: block
    position: relative
    line-height: 50px
    padding: 5px
    font-size: 1em
    background: buttons
    color: #ffffff
    margin-left: 40%
    margin-right: 40%

.header__create-new:hover
    background-color: white
    color: buttons

.wrapper__body
    position:relative
    top: 70px

.company
    list-style-type: none
    background-color: white
    margin-bottom: 30px

.company:active
    background-color: buttons

.company__header
    box-shadow: 0 0 4px #E3E3E3
    height: 100px

.person_creator
    display: inline-block
    height: 40%
    padding-left: 10%
    width: 60%
    text-align: left

.person__name
    font-size: 1em

.service
    display: inline-block
    height: 60%

.service__logo
    width: 150px

.company__deadline
    position: relative
    width: 50%
    left: 10%
    font-size: 2em
    display: inline-block

.company__same-button
    width: 120px
    background-color: buttons
    color: buttons-text-color
    font-size: 1em
    margin-left: 100px
    border: none

.company__add-button
    width: 30px
    background-color: buttons
    color: buttons-text-color
    font-size: 1em
    border: none

.company__people
    //display: none
    box-shadow: 0 8px 4px #E3E3E3
