buttons = #fb6362
buttons-active = #b14544
dark-text-color = #666666

.companies
    padding 0

.company
    display block
    background-color: white
    list-style-type none
    height auto


.company__header
    //height 100px
    &:hover
        box-shadow 0 7px 10px -5px dark-text-color
        background-color: buttons
        color white
    &:hover .company__people_list
        display block
    &:hover .button_company-same .button__button
        background-color white
        color buttons
    &:hover .button_company-add .button__button
        background-color white
        color buttons


.person__name
    float left
    font-size 2em
    //padding 20px
    padding-left 5%

.service__logo
    //display inline
    //float right
    margin-left 60%

.company__deadline
    //float left
    padding-left 7%
    padding-top 20px
    font-size 1.5em

.button_company-same .button__button
    float left
    margin-left 5%
    margin-right 20px
    margin-bottom 20px
    &:hover
        background-color white
        color buttons
    &:active
        background-color buttons-active
        color white

.button_company-add .button__button

    &:hover
        background-color white
        color buttons
    &:active
        background-color buttons-active
        color white

.service__logo
    width 150px

.company__people_list
    display none
    background-color dark-text-color
    padding 0

.person_customer
    clear left
    list-style-type none
    border-bottom: 1px solid black

.company__people_list .person__name
    //float left
    //height auto
    font-size 1.2em
    //padding-right 30%

.orders
    padding-top 10px
    //float left

.person__check-money
    //float left
    margin-left 10px


