buttons = #fb6362
buttons-active = #b14544
dark-text-color = #666666
.companies
    padding 0

.company
    display block
    background-color: white
    list-style-type none
    height auto

.company__header
    &:hover
        box-shadow 0 7px 10px -5px dark-text-color
        background-color: buttons
        color white
    &:hover .company-people_list
        display block
    &:hover .button__button
        background-color white
        color buttons

.person__name
    float left
    font-size 2em
    padding-left 5%
    margin-right 60%

.company__deadline
    padding-left 7%
    padding-top 20px
    font-size 1.5em

.button__button
    position relative
    top -5px
    font-size: 1em
    background-color buttons
    color white
    &:hover
        background-color white
        color buttons
    &:active
        background-color buttons-active
        color white

.button_company-same .button__button
    float left
    margin-left 3%
    margin-right 20px
    margin-bottom 20px

.service__logo
    width 150px
    padding-left 10px
    margin-bottom 10px

.company-people_list
    display none
    background-color dark-text-color
    padding 0

.person_customer
    clear left
    list-style-type none
    border-bottom: 1px solid black

.company-people_list .person__name
    font-size 1.2em

.orders
    list-style-type none
    padding-right 10px

.person__check-money
    margin-left 10px
    position relative
    bottom 30px