@import '../../stylus/vars.styl'

.button
  display inline-block
  text-decoration none
  text-align center
  font-weight bold
  margin 6px

.button__button
  border 0
  padding 15px 25px
  color buttons-text-color
  background buttons
  border-radius 4px
  text-decoration none
  font-weight normal
  font-size 1em
  height 49px
  &:hover
    background-color buttons-hover
  &:active
    background-color buttons-active

.button__icon
  display none
  padding-left 16px
  text-decoration none

.button_icon .button__icon
  display inline-block
  padding-left 0
  width 25px
  height 25px
  background-size 25px
  margin -6px

.button_icon-edit
  border 0
  width 30px
  height 30px
  background url(../../images/icon.jpg) 0 no-repeat
  background-position -125px 0

.button_icon-delete
  border 0
  width 30px
  height 30px
  background url(../../images/icon.jpg) 0 no-repeat
  background-position -55px 0

.button_icon-look
  border 0
  width 40px
  height 30px
  display inline-block
  background url(../../images/icon.jpg) 0 no-repeat
  background-position -5px 0

.button_icon-cart .button__icon
  background url(../../images/basket.png) 0 no-repeat
  background-size 25px

.button_icon-plus .button__icon
  background url(../../images/icon_plus.png) 0 no-repeat
  background-size 25px

.button__title
  padding 0

.button_icon-only .button__icon
  padding 0

.button_new-order
  position absolute
  top 30px
  right 120px


.button_not_active
  background buttons-non-active

.button_size-s .button__button
    padding 5px 10px

.button_size-m
    padding 0 20px
    height 20

.offers-plugin__button
  position absolute
  margin-top -10px
