mixin button(content, mods, link)
    .button(class= mods)
        if link
            a.button__button(href=link)
                span.button__icon
                span.button__title= content
        else
            button.button__button
                span.button__icon
                span.button__title= content



