@import '../../stylus/vars.styl'

.button__button
  position relative
  top -5px
  padding 15px 25px
  border-radius 4px
  color #FFFFFF
  background #d80027
  text-decoration none
  font-size 10pt
  text-align center
  font-weight bold
  &:hover
    background-color white
    color #d80027
  &:active
    background-color buttons-active
    color white