@import '../../stylus/vars.styl'

.group
  min-width 270px
  max-width 750px
  background #f9f9fb

.group__name
  color buttons
  padding 10px

.dish
  padding 10px
  background-color: white
  box-shadow 0 7px 10px -5px dark-text-color
  border-bottom 1px solid #ecebeb

.dish__title
  display table-cell
  width 100%
  vertical-align: middle

.dish__link
  display table-cell
  vertical-align: middle
  padding-right 10px

.link
  width 25px

.dish__cost
  display table-cell
  vertical-align: middle

.dish__amount
  display table-cell
  vertical-align: middle
  padding-right 50px
  white-space nowrap
