mixin group(title_dish, link, price)
    .group
        .dish
            a.dish__link(href=link target="_blank")
                img.link(src="/images/link.png")
            .dish__title= title_dish
            .dish__cost $
                =price
