include ../button/button

mixin offers-plugin(id)
    form.offers-plugin(action="/setTime" method="post")
        .offers-hide
            .offers-hide__timepicker
                input(type="hidden", name="serviceId" value='#{id._id}')
                p.offer-hide__title Введите время:
                .offers-hide__blockOfLogic
                    input.offers-hide__time-hrs(name="hrs")
                    span.offers-hide__dtt :
                    input.offers-hide__time-mnts(name="mnts")
                +button("Сделать заказ", "offers-plugin__button", {"type": "submit", "name":"action", "value": "setTime"})