@import '../../stylus/vars.styl'

.offers-plugin
    padding-top 122px
    margin-left 145px

.offers-pluign__hide, .offers-pluign__hide + label ~ div
    display none

.offers-pluign__hide
    position relative

.offers-pluign__hide + label,
.offers-pluign__hide:checked + label
    padding 0
    color buttons
    cursor pointer
    border-bottom 1px solid #ccc

.offers-pluign__hide:checked + label
    color offers-grey
    border-bottom 0

.offers-pluign__hide:checked + label + div
    display block
    height 50px
    background #f8f9fb
    box-shadow inset (0 0 3px 0 rgba(229,229,229,1))
    padding 10px

.offers-hide__timepicker
    margin-top 10px
    width 450px

.offer-hide__title
    margin 10px 10px 0 0
    float left
    

.offers-hide__time-hrs
    width 50px
    height 35px
    float left

.offers-hide__dtt
    float left
    margin 5px 4px 0 4px
.offers-hide__time-mnts
    width 50px
    height 35px
    float left

.offers-hide__more
    display block
    float left
    background url(../images/offers-update/icons.png) no-repeat -12px
    width 20px
    height 20px
    padding-top 10px
    margin 0 5px 0 5px
    cursor pointer

.offers-hide__less
    display block
    background url(../images/offers-update/icons.png) no-repeat -72px
    width 20px
    height 20px
    float left
    padding-top 10px
    margin-left 5px
    cursor pointer

@media screen and (max-width: 1000px)
    .offers-plugin
        width 60%
        height 20px
        margin 0 auto
        text-align center
        padding-top 10px
        
    .offers-pluign__hide:checked + label + div
        position absolute
        width 52%
        height 127px
        z-index 10
        
    .offers-plugin__button
        margin-left -86%
        margin-top 15px
        position relative

@media screen and (max-width: 1206px)
    .offers
        height 270px

    .offers-plugin__button
        position relative
        margin-left -140px
        margin-top 40px

@media screen and (max-width: 1000px)
    .offers-plugin
        padding-top 0

    .offer-hide__title
        margin 10px -27px 0 50px
        float left

    .offers-plugin__button
        margin-left -390px

    .offers-hide__time-hrs
        margin-left 50px

    .offers
        height 490px

@media screen and (max-width: 910px)
     .offers-pluign__hide:checked + label + div
         width 65%


@media screen and (max-width: 800px)
    .offers-plugin 
        margin-top 40px
        width 70%
    
    .offers-pluign__hide:checked + label + div 
        width 67%
        
@media screen and (max-width: 720px)
    .offers-pluign__hide:checked + label + div
        height 140px

    .offers-plugin__button
        margin-left -97%
        margin-top 71px
        
    .offer-hide__title
        float none 
        margin 0 auto
        margin-left -120px

    .offers-hide__blockOfLogic
        width 320px
        height 50px
        position absolute   
        margin 7px 0 0 56px  
    
    .offers-plugin__button
        margin-left -73%
        margin-top 51px
@media screen and (max-width: 480px)
    .offers-plugin
        margin-left 9px

@media screen and (max-width: 440px)
    .offers
        height 540px

    .offers-plugin
        margin-left -31px
        margin-top 70px


