mixin auth(person, mod, modSpan)
    if person
        .auth(class= mod)
            .auth__name= person.name
            a.auth__logout(href="/logout") Выйти
    else
        .auth(class= mod)
            span.auth__post(class= modSpan) Авторизируйтесь через:
            a.auth__social.auth__social_vk(href="/auth/vk")
            a.auth__social.auth__social_fb(href="/auth/fb")
