mixin auth(person, mod)
    if person
        .auth(class= mod)
            .auth__name= person.name
            a.auth__logout(href=person.logout) выйти
    else
        .auth(class= mod)
            a.auth__social.auth__social_vk
            a.auth__social.auth__social_fb
