@import '../../stylus/vars.styl'

.auth
    background #d8d8d7
    border-bottom 1px solid #E7FFFF
    padding: 10px

.auth__name
    display inline-block
    font-size 1em
    color #404240

.auth__social
    display inline-block
    width 34px
    height 34px
    background-size 34px
    background-repeat no-repeat

.auth__logout
    padding-left 10px
    text-decoration none
    font-weight normal
    color dark-text-color

.auth__social_vk
    background-image url(../images/social_vk.png)
    padding-right 20px

.auth__social_fb
    background-image url(../images/social_fb.png)
