@import '../../stylus/vars.styl'

.cook-info
    width 75%

.cook-info__title
    font-size 0.75em
    color offers-grey

.cook-info__categories
    font-size 0.75em

@media screen and (min-width: 800px) and (max-width: 1000px)
    .cook-info
        height 30px
        margin 0 auto

@media screen and (max-width: 1000px)
    .cook-info__mod
        width 30%
        height 0
        margin 0 auto
        padding-top 20px