@import '../../stylus/vars.styl'

.cook-info
    width 75%

.cook-info__title
    font-size 0.75em
    color offers-grey

.cook-info__categories
    font-size 0.75em


@media screen and (max-width: 1000px)
    .cook-info__mod
        width 40%
        margin 0 auto
        height 0

@media screen and (max-width: 920px)
    .cook-info__mod
        width 50%
        padding 0 0 0 62px

@media screen and (max-width:480px)
    .cook-info__categories
        position absolute
        margin-top 15px
        margin-left -42px
    .cook-info
        margin-left 2px

@media screen and (max-width:440px)
    .cook-info__mod
        padding 0 0 0 53px
        margin-top 10px