extends ../layout/layout.jade

block title
	title Корзина
block content 
	- var foodtitle = ["Название блюда 1", "Название блюда 2", "Название блюда 3", "Название блюда 4"];
	.wrapper
		.wrapper__title
			span Корзина
		.wrapper__zakaz
			ul.wrapper__zakaz-list
				each item in foodtitle
					li.wrapper__zakaz-list__element-title: a(href="#") #{item}
