extends ../layout/layout.jade

block title
	title Корзина
block content 
	- var foodtitle = ["Название блюда 1", "Название блюда 2", "Название блюда 3", "Название блюда 4"];
	.wrapper
		.wrapper__title
			span Корзина
		form.wrapper__form(action="#" method="post")
			ul.wrapper__form-order-list
				each item in foodtitle
					li.wrapper__form-order-element
						a.wrapper__form-order-element-close(href="#")
						.wrapper__form-order-element-info #{item}
						a.wrapper__form-order-element-less(href="#")
						input.wrapper__form-order-element-value(value="1")
						a.wrapper__form-order-element-more(href="#")
						.wrapper__form-order-element-cost
							span $
		.wrapper__allcost
			span Общая стоимость:
		.wrapper__button
			button.wrapper__button-button Заказать!
						