doctype html
html
    head
        title creating
        meta(charset="utf-8")
        link(rel="stylesheet" href="css/common.css")
        link(rel="stylesheet" href="css/creating.css")
        script(src="js/creatingJS.js" type="text/javascript")
    body(onload="slider('slider',0)")
        .main
            header.header
                h1.header__title Lenka-d-s
                img.header__logo(alt="logo")
            div.slider
                div.header-m(id="header-1") LIDO
                div.content(id="content-1")
                    div.text
                        div.logo
                            img(src="/images/Logo.png")
                        .attributes Вы можете сделать заказ по будним дням с 8.30 до 16.30. Заказ сегодня на завтра принимается до 16.30, сегодня на сегодня до 11.00. Доставка производится БЕСПЛАТНО. Минимальная сумма заказа 300 000 рублей. Возможен наличный и безналичный расчёт (заключение договора, выставление счет-фактуры).
                            form
                                .attributes Введите время
                                input(type="date")
                                input(type="time")
                                button.company__same-button Создать

                div.header-m(id="header-2") Пицца темпо
                div.content(id="content-2")
                    div.text
                        div.logo
                            img(src="/images/tempo_logo.png")
                        h2 Режим работы службы доставки:
                        ul
                            li воскресенье — четверг принимаются с 10.00. до 22.00.
                            li пятница — суббота:  заказы принимаются с 10.00. до 02.00.
                            li меню завтраков ежедневно: заказы принимаются с 10.00. до 12.00.
                            li меню обеденных комплексов: понедельник — пятница: с 12.00. до 16.00.
                        form
                            .attributes Введите время
                            input(type="date")
                            input(type="time")
                            button.company__same-button Создать

                div.header-m(id="header-3") eda.by
                div.content(id="content-3")
                    div.text
                        div.logo
                            img(src="/images/justeat.png")
                        .attributes Just-Eat - сервис по доставке вкусной еды, в которым для Вашего удобства мы объединили разные рестораны. Мы экономим ваше время и предлагаем выбрать то, что подходит именно Вам.
                            ul В чем преимущества Just-eat?
                                li Возможность сравнить цены в разных заведениях и сделать объективный выбор
                                li Заказывать через личный кабинет во всех ресторанах, не вводя каждый раз свои контактные данные
                                li Видеть историю своих заказов
                                li Просматривать рейтинги блюд, оценивать работу наших партнеров
                                li Публиковать и на сайте свои отзывы и читать отзывы других пользователей
                        form
                            .attributes Введите время
                            input(type="date")
                            input(type="time")
                            button.company__same-button Создать