.slider
    .slider__header(id="header-1") LIDO
    .slider__content(id="content-1")
        .content
            .content__logo
                img.content__image(src="/images/Logo.png")
            .content__attributes Вы можете сделать заказ по будним дням с 8.30 до 16.30. Заказ сегодня на завтра принимается до 16.30, сегодня на сегодня до 11.00. Доставка производится БЕСПЛАТНО. Минимальная сумма заказа 300 000 рублей. Возможен наличный и безналичный расчёт (заключение договора, выставление счет-фактуры).
                form.form
                .form__attributes Введите время
                input.form__date(type="date")
                input.form__time(type="time")
                div.button.button_create_button
                    button.button__button Создать

