doctype html
html
    head
        title index
        meta(charset="utf-8")
        link(rel="stylesheet" href="css/common.css")
        link(rel="stylesheet" href="css/index.css")
    body
        .main
            header.header
                h1.header__title Lenka-d-s
                img.header__logo(alt="logo")
                img.header__bell(src="/images/bell.svg")
            section.wrapper
                .wrapper__header
                    a(href="creating.html")
                        button.header__create-new Создать новый заказ
                .wrapper__body
                    ul.companies
                        li.company
                            .company__header
                                .person.person_creator
                                    .person__name Василий
                                .service
                                    img.service__logo(src="/images/tempo_logo.png")
                                .company__deadline 00:00

                                button.company__same-button Хочу так же
                                button.company__add-button +
                            .company__people
                                ol.company__people_list
                                    li.person.person_customer
                                        .person__name Name1
                                        ul.orders
                                            li.order
                                                span.order__name макароны
                                                span.order__price 40000
                                        input.person__check-money(type="checkbox")
                                    li.person.person_customer
                                        .person__name Name2
                                        ul.orders
                                            li.order
                                                span.order__name lazanya
                                                span.order__price 43000
                                        input.person__check-money(type="checkbox")
                        li.company
                            .company__header
                                .person.person_creator
                                    .person__name Яна
                                .service
                                    img.service__logo(src="/images/tempo_logo.png")
                                .company__deadline 00:00

                                button.company__same-button Хочу так же
                                button.company__add-button +
                            .company__people
                                ol.company__people_list
                                    li.person.person_customer
                                        .person__name Name1
                                        ul.orders
                                            li.order
                                                span.order__name павпкпва
                                                span.order__price 40000
                                        input.person__check-money(type="checkbox")
                                    li.person.person_customer
                                        .person__name Name2
                                        ul.orders
                                            li.order
                                                span.order__name lazanya
                                                span.order__price 43000
                                        input.person__check-money(type="checkbox")



