extends ../layout/layout-main
    block title
        title "index"
    block link
        link(rel="stylesheet" href="css/main.css")
        link(rel="stylesheet" href="css/header.css")
    block content
        .main
            include header.jade
            include main.jade
