extends ../layout/layout.jade
block title
    title Main
block content
    .main
        header.header
            h1.header__title Lenka-d-s
            img.header__logo(alt="logo")
        section.wrapper
            .wrapper__header
                button.wrapper__header_create-new Создать новый заказ
            .wrapper__body
                ul.companies
                    li.company
                        .company__header
                            .person.person_creator
                                .company__deadline 00:00
                                .person__name Василий
                            .service
                                img.service__logo(src="/images/tempo_logo.png")
                            .button.button__group
                                .button.button_company-same
                                    button.button__button Хочу так же
                                .button.button_company-add
                                    button.button__button +
                            ol.company__people.company__people_list
                                li.person.person_customer
                                    .person__name Name1
                                    ul.orders
                                        li.order
                                            span.order__name макароны1
                                            span.order__hyphen -
                                            span.order__price 40000 руб.
                                        li.order
                                            span.order__name макароны2
                                            span.order__hyphen -
                                            span.order__price 40000 руб.
                                    input.person__check-money(type="checkbox")
                                li.person.person_customer
                                    .person__name Name2
                                    ul.orders
                                        li.order
                                            span.order__name lazanya1
                                            span.order__hyphen -
                                            span.order__price 43000 руб.
                                        li.order
                                            span.order__name lazanya2
                                            span.order__hyphen -
                                            span.order__price 43000 руб.
                                    input.person__check-money(type="checkbox")


