extends ../layout/layout.jade
block title
	title Main
block content
	.menu-item
		.menu-item__title Цыпленок
		.menu_item__price 50000
		.button.button_company-same
			button.button__button Значок корзины