extends ../layout/layout.jade
block link
	link(rel="stylesheet" href="css/index/menuItem.css")
block title
	title Main
block content
	.menu-item
		.menu-item__title Цыпленок
		.menu_item__price 50000
		.button.button_menu-item
			button.button__button
