extends ../layout/layout.jade
block link
	link(rel="stylesheet" href="css/index/menuItem.css")
block title
	title Main
block content
	.menu-item
		a
			.menu-item__image
				img(src=("images/vakkanai_maki.jpg"))
			.menu-item__info
				.menu-item__info.menu-item__title Цыпленок
				.menu-item__info.menu-item__other-info
					.menu-item__info.menu_item__price 50000
					.menu-item__info.button.button_menu-item
						button.button__button
							img.menu-item__logo(src="images/basket.png")
