extends ../layout/layout.jade
block link
	link(rel="stylesheet" href="css/index/menuItem.css")
block title
	title Main
block content
	.menu-item
		a
			.menu-item__image
			.menu-item__info
				.menu-item__info.menu-item__title Цыпленок
				.menu-item__info.menu-item__other-info
					.menu-item__other-info.menu_item__price 50000
					.menu-item__other-info.button__menu-item
						button.button__button
