include ../order/order

mixin basket(orders, service)
    .basket
        form.basket__form(action="/basket" method="post")
            input(type="hidden", name="service" value=service)
            .orders
                each item in orders
                    +order(item.name, item.price)
            hr.basket__hr
            .basket__allcost
                span.total_sum Общая стоимость: 1000
                script.
                    var spans = document.querySelectorAll('.order__cost_val');
                    var sum = 0;
                    for(var i = 0; i<spans.length; i++) {
                        sum+=+spans[i].innerHTML;
                    }
                    console.log(document.querySelector('.total_sum').innerHTML = 'Общая стоимость: ' + sum);
            .basket__button
                +button("Заказать", ['button_icon', 'button_icon-cart'], {"type": "submit", "name":"action", "value": "newOrder"})
            .basket__image
