@import '../../stylus/vars.styl'

.basket
  min-width 400px
  max-width 450px
  background #f9f9fb

.basket__title
  background-color header-basket
  text-align center
  padding 10px 0
  color #fff

.orders
  list-style none
  display table
  width 100%

.basket__allcost
  width 248px
  height 35px
  margin auto
  text-align center

.basket__hr
  width 75%

.basket__image
  width 60px
  height 65px
  margin 0 auto
  background url(../../images/cart/food.svg) 0 no-repeat

.basket__button
  margin auto
  width 147px
