head
    block title
    link(rel="stylesheet" href="css/index/index.css")Ы
    link(rel="stylesheet" href="css/main.css")
>>>>>>> correct button:layout/layout.jade
    meta(charset="utf-8")
body
    block content

