.wrapper
	width 400px
	height: 500px
	
.wrapper__title
	width 50%
	height 50px
	margin 0 auto

.wrapper__title-text
	width 100px
	height 50px
	font-size 16px
	margin 0 auto;
	
	
.wrapper__form-order-list
	list-style none

.wrapper__form-order-element
	display inline-block
	width 100%
	height 50px
	
.wrapper__form-order-element-close
	width 50px
	height 40px
	float left
	background url(../../images/cart-close.png) 0px no-repeat
	
	





