.main 
    min-height 100%
    margin auto
    background-color #F5F5F5
.header 
    max-height 90px
    font-size 22pt
    font-family "Verdana", scans-serif
    color #FA2D2D
    background-color #FFFFFF
.header__title 
    padding 10px
    margin 0
.header__logo 
    position absolute
    right 0
    top 0
.wrapper 
    width 90%
    margin auto
.wrapper__header 
    position relative
    top 30px
.wrapper__header_create-new 
    display block
    position relative
    height 50px
    width 270px
    font-size 16pt
    background-color #C41414
    color white
    &:hover 
        background-color white
        color #C41414
.wrapper__body 
    position relative
    top 70px
