buttons = #fb6362
close-panels = #404a58 
light-text-color = #FFFFFF
dark-text-color = #666666
main-font = Arial, serif


.main 
    min-height 100%
    margin auto
    
.button__button 
    font-size 15pt
    background buttons
    color light-text-color

.header 
    max-height 90px
    font-size 22pt
    font-family main-font
    background-color #FFFFFF
    
.header__title 
    padding 10px
    margin 0
.header__logo 
    position absolute
    right 0
    top 0
.wrapper 
    width 90%
    margin auto
.wrapper__header 
    position relative
    top 30px
.wrapper__header_create-new 
    display block
    position relative
    height 50px
    width 270px
    font-size 16pt
    background-color buttons
    color white
    &:hover 
        background-color white
        color buttons
.wrapper__body 
    position relative
    top 70px
