transition(condition)
    if(condition==ease-in-out)
        -webkit-transition all 0.35s ease-in-out
        -moz-transition all 0.35s ease-in-out
        transition all 0.35s ease-in-out
    else if(condition==linear)
        -webkit-transition all 0.35s 0.1s linear
        -moz-transition all 0.35s 0.1s linear
        transition all 0.35s 0.1s linear           
scale(condition)
    -webkit-transform 'scale(%s)' % condition
    -moz-transform 'scale(%s)' % condition
    -ms-transform 'scale(%s)' % condition
    -o-transform 'scale(%s)' % condition
    transform 'scale(%s)' % condition
translateY(condition)
    -webkit-transform 'translateY(%s)' % condition
    -moz-transform 'translateY(%s)' % condition
    -ms-transform 'translateY(%s)' % condition
    -o-transform 'translateY(%s)' % condition
    transform 'translateY(%s)' % condition
        
box-sizing()
    -webkit-box-sizing border-box
    -moz-box-sizing border-box
    box-sizing border-box
 
.menu-item
    overflow hidden
    position relative
    width 200px
    height 200px
    position relative
    transition(ease-in-out)
    box-sizing()
    margin 6px
    a
        color #333
        .menu-item__image
            width 100%
            height 100%
            background url("../../images/vakkanai_maki.jpg")
            background-size cover
            transition(ease-in-out)
    .menu-item__info
        position absolute
        
        top 0
        bottom 0
        left 0
        right 0
        text-align center
        -webkit-backface-visibility hidden
        backface-visibility hidden
        visibility hidden
        opacity 0
        transition(ease-in-out)
        .menu-item__title
            background rgba(12, 34, 52, 0.8)
            text-transform uppercase
            color #fff
            font-weight bold
            text-align center
            font-size 17px
            padding 10px
            margin 10% 0 0 0
            height 10%
            transition(ease-in-out)
            translateY(-100%)
        .menu-item__other-info
            background rgba(12, 34, 52, 0.6)
            font-style italic
            font-size 16px
            position relative
            height 100%
            color #bbb
            text-align center
            transition(linear)
            .menu_item__price
                margin 80% 0 0 0
            .button__menu-item
                width 25px
                height 25px
                .button__button
                    float right
                    margin 0 10px 0 0
                    background #d80027 url("../../images/basket.png")
                    background-size contain
                

.menu-item a:hover
    text-decoration none
    .menu-item__image
        scale(1.2)
    .menu-item__info 
        visibility visible
        opacity 1
        .menu-item__info.menu-item__title, .menu-item__info.menu-item__other-info
            translateY(0)


