.first-main-wrapper
    width 100%
    height 100%
    background url(../images/firstPage/first-screen.png) no-repeat
    background-size cover

.first-screen
    width 500px
    height 400px
    margin 0 auto
    padding-top 200px

 .first-screen__form
     width 500px
     height 400px
     margin 0 auto
     background #fff
     border-radius 2px

.first-screen__title
    width 300px
    height 40px
    margin-left 80px
    padding-top 40px

.first-screen__description
    width 350px
    height 40px
    margin-left 80px

.first-screen__iptName
    padding-top 20px

.first-screen_faq
    color #999
    font-size 0.75em

.first-screen__placholder-input
    font-size 0.9em
    color #999
    position absolute
    left 315px
    top 330px
    display none


.first-screen__name
    width 325px
    height 40px
    margin-left 80px
    border 0
    border-bottom 1px solid offers-grey
    font-size 16px
    &:focus
        outline none
        border-bottom 2px solid #6bace1

.first-screen__inpEmail
    padding-top 20px
    padding-bottom 20px

.first-screen__email
    width 325px
    height 40px
    margin-left 80px
    border 0
    border-bottom 1px solid offers-grey
    font-size 16px
    &:focus
        outline none
        border-bottom 2px solid #6bace1

.first-screen__button
    width 100px
    margin-left 194px

.first-screen__auth
    position relative
    right 0
    width 18%
    border 0
    margin 0 auto
    margin-top -15px


.first-screen__span
    display none

.first-screen__bottom-text
    width 300px
    height 50px
    margin 0 auto
    text-align center
    padding-top 10px

.bottom-text__welcome
    color #fff
    
