@import './vars.styl'
html
	font-family "Verdana", scans-serif

.wrapper
	width 450px
	height: 500px
	background #f9f9fb


.wrapper__title
	width 100%
	height 50px
	margin 0 auto
	background-color #d80027

.title-text
	text-align center
	height 30px
	padding-top 10px
	font-size 16px
	color #fff

.orders
	list-style none
	
.wrapper__allcost
	width 55%
	height 35px
	margin 0 auto

.wrapper__button
	width 50%
	position relative
	height 50px
	margin 0 auto

.wrapper__hr
	width 75%

.wrapper__image
	width 60px
	height 65px
	margin 0 auto
	background url(../../images/cart/food.svg) 0 no-repeat
	





