@import './vars.styl'

.main
    background-color white

.group
    background-color gainsboro

.group__name
    color buttons
    padding-left 20px
    font-size 2.5em
    word-wrap break-word

.meals
    padding 10px

.dish
    display block
    background-color: white
    list-style-type none
    height auto
    margin-bottom 10px


.dish__header
    box-shadow 0 7px 10px -5px dark-text-color
    &:hover
      background-color: buttons
      color white

.dish__title
    float left
    font-size 2em
    padding-left 15px
    padding-top 5px
    margin-right 70%
    white-space pre-line


.link
    width 50px
    padding-top 10px
    padding-left 10px

.dish__cost
    margin-left 20px
    margin-right 10px

.dish__amount
    font-size 1.5em
    margin-left 20px
    margin-right 10px
