main-font = Arial, serif
buttons= #FA2D2D
buttons-hover= #ED2D2D
buttons-text-color= #ffffff
buttons-active = #b14544
header = #FFFFFF
header-text-color= #FA2D2D
light-text-color = #FFFFFF
dark-text-color = #666666
company-header= #FFF5BF
close-panels = #404a58
header-basket = #d80027


