main-font = Arial, serif
buttons= #fb6362
buttons-text-color= #ffffff
buttons-active = #b14544
header = #FFFFFF
header-text-color= #FA2D2D
light-text-color = #FFFFFF
dark-text-color = #666666
company-header= #FFF5BF
close-panels = #404a58


