main-font = Arial, serif
buttons= #d80027
buttons-hover= #ED2D2D
buttons-text-color= #ffffff
buttons-active = #b14544
buttons-non-active = #7D7D7D
header = #FFFFFF
header-text-color= #FA2D2D
light-text-color = #FFFFFF
dark-text-color = #666666
company-header= #FFF5BF
close-panels = #404a58
header-basket = #d80027
offers-grey = #C7D3D8
border-offers = #ECEBEB

