@import '../../stylus/vars.styl'

.main-footer
    width 100%
    position absolute
    left 0
    bottom 0
    height 190px
    background #ccc
    margin-top 30px

.main-footer__text
    font-size 10px
    text-align center
