@import '../../stylus/vars.styl'

.footer
    margin-top 30px
    width 100%
    height 90px
    background #fff
    border-top 3px solid buttons

.footer__text
    width 300px
    margin 0 auto
    font-size 12px
    padding-top 30px
    text-align center
    border-bottom 1px solid offers-grey
