mixin company(service, logo, id)
    .company
        a.company__link(href="#")
            img.company__image(src=logo)


        //- a.company__link(href="/services/" + service._id)
        //-     img.company__image(src=logo)