mixin order(title, sum, id)
    .order
        a.order__close(href="/removeFromBasket/" + id)
            i.order__icon.order__icon_close
        .order__info #{item}
            = title
        a.order__less(href="#")
            i.order__icon.order__icon_less
        input.order__value(value="1")
        a.order__more(href="#")
            i.order__icon.order__icon_more
        .order__cost
            span.order__cost_val= sum
