@import '../../stylus/vars.styl'

.order
  display table-row
  width 100%

.order__close
  display table-cell
  background url(../../images/cart/close.png) 0 no-repeat
  vertical-align middle
  padding-right 10px

.order__info
  position relative
  vertical-align middle
  display table-cell
  padding-right 10px
  width 100%

.order__less
  position relative
  display table-cell
  vertical-align middle

.order__value
  width 50px
  height 25px
  margin 5px
  display table-cell
  vertical-align middle
  padding-right 10px

.order__more
  width 20px
  height 20px
  margin 5px
  vertical-align middle
  display table-cell
  padding-right 10px

.order__cost
  position relative
  height 25px
  margin 5px
  //display table-cell
  vertical-align middle
  padding-right 10px
  display inline-block

.order__icon
  position relative
  width 20px
  height 20px
  display inline-block

.order__icon_less
  background url(../../images/cart/lessmore.png) 0 0 no-repeat

.order__icon_more
  background url(../../images/cart/lessmore.png) 0px -20px no-repeat
