mixin company-info(categories, mincost, derpature, timework)
    .company-info
        .company-info__first
            span.company-info_cook Кухня:
            span.company-info_categories= categories
        .company-info__second
            .company-info_cost= mincost
                .company-info_text мин-сумма заказа
            .company-info_dep= derpature
                .company-info_text стоимость доставки
            .company-info_time= timework
                .company-info_text гарантированное время доставки