include ../cook-info/cook-info
include ../another-info/another-info

mixin company-info(service, index)
    .company-info
        +cook-info(service.kitchen, "cook-info__mod", index)
        +another-info(service)

