@import '../../stylus/vars.styl'

.company-info_cook
    font-size 12px
    color offers-grey

.company-info_categories
    font-size 12px

.company-info
    position absolute

.company-info__first
    margin-top 5px

.company-info__cost
    width 120px
    float left
    margin-top 10px

.company-info__text
    font-size 12px
    margin-top 10px
    color offers-grey

.company-info__dep
    float left
    margin 10px 0 0 40px

.company-info__time
    width 120px
    float left
    margin 10px 0 0 50px

