include ../cook-info/cook-info
include ../another-info/another-info

mixin company-info(categories, mincost, derpature, timework)
    .company-info
        +cook-info(categories)
        +another-info(mincost, derpature, timework)
