@import '../../stylus/vars.styl'

.company-info
    width 70%
    margin-left 145px
    height 120px
    position absolute


@media screen and (max-width: 1000px)
    .company-info
        width 90%
        position relative
        margin 0 auto



