mixin company-info(categories, mincost, derpature, timework)
    .company-info
        .company-info__first
            span.company-info_cook Кухня:
            span.company-info_categories= categories
        .company-info__second
            .company-info__cost= mincost
                .company-info__text мин-сумма заказа
            .company-info__dep= derpature
                .company-info__text стоимость доставки
            .company-info__time= timework
                .company-info__text гарантированное время доставки