include ../cook-info/cook-info
include ../another-info/another-info

mixin company-info(kitchen, mincost, costDelivery, departureTime)
    .company-info
        +cook-info(kitchen)
        +another-info(mincost, costDelivery, departureTime)
