mixin company-info(categories, mincost, derpature, timework)
    .company-info
        .company-info__first
            span.company-info_cook Кухня:
            span.company-info_categories= categories
        .company-info__second
            .tab_cost= mincost
                .cost_info мин-сумма заказа
            .tab_dep= derpature
                .dep_info стоимость доставки
            .tab_time= timework
                .time_info гарантированное время доставки