include ../button/button
include ../company/company

mixin session(name, time, service)
    .session
        .session__name= name
        .session__time= time
        +company(service)

        .session__controls
            +button("Хочу также!", [])
            +button("Своё меню!", [])
