include ../button/button
include ../company/company

mixin session(name, time, logo, id)
    .session
        .session__name= name
        .session__time= time
        +company(id, logo)

        .session__controls
            +button("Хочу также!", [])
            +button("Своё меню!", [], {"type": "submit", "name": "action", "value": "menu"})