@import '../../stylus/vars.styl'

.subscriber
  width 680px
  background #f0f0f2
  margin 0 auto

.subscriber__name
  display table-cell
  width 100%
  vertical-align: middle
  padding-left 20px
  font-size 1.5em
  margin-right 10px

.subscriber__dishes
  display table-cell
  vertical-align middle
  white-space nowrap
  padding-bottom 10px
  padding-top 10px
  //width 100%
  padding-right 150px

.dish__name
  display inline-block
  white-space pre-wrap
  vertical-align middle

.dish__hyphen
  display inline-block
  padding-left 10px
  padding-right 10px

.dish__price
  display inline-block

.subscriber__checkbox
  display table-cell
  vertical-align: middle
  padding-right 10px

