extends layout/layout
include ../blocks/button/button
block title
	title Корзина
block content 
	- var foodtitle = ["Название блюда 1", "Название блюда 2", "Название блюда 3", "Название блюда 4"];
	.wrapper
		.wrapper__title
			p.title-text Корзина
		form.wrapper__form(action="#" method="post")
			ul.orders
				each item in foodtitle
					li.order
						a.order__close(href="#")
						.order__info #{item}
						a.order__less(href="#")
						input.order__value(value="1")
						a.order__more(href="#")
						.order__cost
							span.order__cost_val $
		hr.wrapper__hr
		.wrapper__allcost
			span Общая стоимость: 1000$
		+button("Заказать", ['button_icon', 'button_icon-cart'])
		.wrapper__image
