
extends layout/layout

block title
    title creating
block link
    link(rel="stylesheet" href="css/creating.css")
block content
    ul
        each service in services
            li=service
                a(href = service.link) ссылка

    form(action="serviceChoose" method="POST")
    div.input
        span.label ServiceId
        input(type="text", name="ServiceId")
    div.input
        span.label Time
        input(type="text", name="time")
    div.actions
        input(type="submit", value="Создать")
