extends layout/layout

block title
    title creating
block link
    link(rel="stylesheet" href="css/creating.css")
block content
    include main
        ul
            each service in services
                li
                    a(href = service.link) ссылка


