extends layout/layout
include ../blocks/button/button
include ../blocks/header/header
include ../blocks/basket/basket
include ../blocks/order/order
include ../blocks/session/session
include ../blocks/menuitem/menuitem
include ../blocks/group/group
include ../blocks/offers/offers



block title
    title Demo
block content
    h1 This DEMO
    hr
    +header()
    hr
    +button("Кнопка 1", [])
    +button("", ['button_icon', 'button_icon-only', 'button_icon-cart'])
    +button("Кнопка 3", ['button_icon', 'button_icon-cart'])
    hr
    +order("item", 123)
    hr
    +basket([
        {title: 'Блюдо 1', price: '170'},
        {title: 'Блюдо 2', price: '130'},
        {title: 'Блюдо 3', price: '270'}
    ])
    hr
    +session("Константин Константинопольский", "14:37", "/images/logo-pizza.png")
    hr
    +menuitem("Сладкий мир", "10000 руб", "../../images/menuItem/vakkanai_maki.jpg")
    +menuitem("Сладкий мир", "10000 руб", "../../images/menuItem/vakkanai_maki.jpg")
    +menuitem("Сладкий мир", "10000 руб", "../../images/menuItem/vakkanai_maki.jpg")
    +menuitem("Сладкий мир", "10000 руб", "../../images/menuItem/vakkanai_maki.jpg")
    +menuitem("Сладкий мир", "10000 руб", "../../images/menuItem/vakkanai_maki.jpg")
    +menuitem("Сладкий мир", "10000 руб", "../../images/menuItem/vakkanai_maki.jpg")
    hr
    +group(
         'Супы', [
        {title_dish: 'Блюдо 1', link: 'http://www.pizzatempo.by/menu/obed.html', quantity: '3',  price: '170'},
        {title_dish: 'Блюдо 1', link: 'http://www.pizzatempo.by/menu/obed.html', quantity: '3',  price: '170'}]
    )
    hr
    hr
    +offers("/images/logo-pizza.png","Бульбаш", " Древняя/народная", "250000руб", "Бесплатно", "30мин", "Доставка круглосуточно")
    +offers("/images/macd.png","Macdonald's", " Американская/fastfood", "300000руб", "Бесплатно", "50мин", "Доставка до 21.00")
    +offers("/images/bkl.svg","Burger King", " Американская/fastfood", "500000руб", "20000руб", "60мин", "Доставка круглосуточно")
    +offers("/images/kfc.svg","KFC", " Американская/fastfood", "100000руб", "10% от заказа", "90мин", "Доставка круглосуточно")

