extends layout/layout
include ../blocks/header/header

block title
    title index
block content
    +header
    .main
        include ../blocks/button/button
        include main
        ul
            each order in orders
                li= order