extends layout/layout
block title
    title index
block link
    link(rel="stylesheet" href="css/main.css")
    link(rel="stylesheet" href="css/button.css")
block content
    include header
    .main
        include button
        include main
