extends layout/layout
include ../blocks/header/header
//- Внес в комментарии, пока не понимаю как работает
//- block title
//-     title index
//- block content
//-     +header()
//-     .main
//-         ul
//-             each service in services
//-                 li= service
