extends layout/layout
include ../blocks/button/button
include ../blocks/header/header
include ../blocks/session/session
include ../blocks/menuitem/menuitem
include ../blocks/group/group
include ../blocks/offers/offers
include ../blocks/sidebarmenu/sidebarmenu
include ../blocks/footer/footer

block title
    title Выбор места заказа
block content
    +header()
    .main-wrapper
        .main-wrapper__carry
            +sidebarmenu("Кухни/Блюда")
            +offers("/images/logo-pizza.png","Бульбаш", " Древняя/народная", "250000руб", "Бесплатно", "30мин", "Доставка круглосуточно")
            +offers("/images/macd.png","Macdonald's", " Американская/fastfood", "300000руб", "Бесплатно", "50мин", "Доставка до 21.00")
            +offers("/images/bkl.svg","Burger King", " Американская/fastfood", "500000руб", "20000руб", "60мин", "Доставка круглосуточно")
            +offers("/images/kfc.svg","KFC", " Американская/fastfood", "100000руб", "10% от заказа", "90мин", "Доставка круглосуточно")
            +offers("/images/logo-pizza.png","Бульбаш", " Древняя/народная", "250000руб", "Бесплатно", "30мин", "Доставка круглосуточно")
            +offers("/images/macd.png","Macdonald's", " Американская/fastfood", "300000руб", "Бесплатно", "50мин", "Доставка до 21.00")
            +offers("/images/bkl.svg","Burger King", " Американская/fastfood", "500000руб", "20000руб", "60мин", "Доставка круглосуточно")
            +offers("/images/kfc.svg","KFC", " Американская/fastfood", "100000руб", "10% от заказа", "90мин", "Доставка круглосуточно")

        +footer("Заказывайте еду на нашей, темной стороне...")

//- Внес в комментарии, пока не понимаю как работает
//- block title
//-     title index
//- block content
//-     +header()
//-     .main
//-         ul
//-             each service in services
//-                 li= service
