include ../blocks/button/button

.menu-item
    .menu-item__image
    .menu-item__info
        .menu-item__title Ваканаи маки
        .menu-item__other-info
            .menu_item__price 80000 руб
            +button("", [])
