@import '../../stylus/vars.styl'

.main-wrapper
    width 100%
    min-height 100%
    background url(../images/menupage/back3.png) 
    position relative


.main-wrapper__carry
    width 980px
    margin 0 auto
    padding 30px
    overflow hidden
    min-height 100%



