extends ../views/layout/layout
include ../blocks/header/header
include ../blocks/button/button
include ../blocks/basket/basket
include ../blocks/order/order
include ../blocks/session/session
include ../blocks/menuitem/menuitem
include ../blocks/footer/footer
include ../blocks/group/group
include ../blocks/subscriber/subscriber

block title
    title Главная страница
    if user
        +header(user)
        +button("Создать новый заказ", [".button_new-order"],{'href': '/services?owner=True' })
    else
        +header()
        +button("Создать новый заказ", [".button_new-order", "button_not_active"])
    script
        include ../blocks/total/total.js
    .main-wrapper
        .main-page
            each order in orders
                +session(order.owner.name, order.time, order.service.logo, order.service._id, order, user)
                if user
                    if order.owner.name===user.name
                        script.
                            timer(document.getElementById('time').innerHTML);
                        #total.total
                            .total__close(onclick="document.getElementById('total').style.display='none'")
                            .total__content
                                .total__title Итого
                                each dish in order.dishes
                                    +group(dish)
                                each subscriber in order.subscriber
                                    if subscriber.paid
                                        each dish in subscriber.dishes
                                            +group(dish)
                each subscriber in order.subscriber
                    +subscriber(subscriber.person.name, subscriber.dishes, subscriber)
        +footer("© Lenka-dark-side Corporation")
