extends ../views/layout/layout
include ../blocks/header/header
include ../blocks/button/button

block title
    title index
block content
    +header
    a.link(href='/services') Создать новый заказ
    ul
        each order in orders
            li= order

    if user
        =user
    else
      div
        p Вы не авторизованы!
      div
        a(href="/auth/fb") Авторизоваться Facebook →
      div
        a(href="/auth/vk") Авторизоваться Vk →