extends ../views/layout/layout
include ../blocks/header/header
include ../blocks/button/button

block title
    title index
block content
    +header
    a.link(href='/services') Создать новый заказ
    ul
        each order in orders
            li= order
    #user
        if(user)
            div(class="user-card")
               img(src="#{user.photoUrl}", alt="")
            div(class="user-data")
                span Имя: #{user.username}
                br
                span Профиль: <a href="#{user.profileUrl}">page</a>
                br
                div(class="clear")
            a(href="/sign-out", class="sign-out") Выйти ←
        else
          p Вы не авторизованы!
          a(href="/auth/fb") Авторизоваться →