extends ../views/layout/layout
include ../blocks/header/header
include ../blocks/button/button
include ../blocks/basket/basket
include ../blocks/order/order
include ../blocks/session/session
include ../blocks/menuitem/menuitem
include ../blocks/footer/footer
include ../blocks/group/group
include ../blocks/subscriber/subscriber

block title
    title Главная страница
block content
    if user
        +header(user)
        +button("Создать новый заказ", [".button_new-order"],{'href': '/services'})
    else
        +header()
    script
        include ../blocks/total/total.js
    .main-wrapper
        .main-page
            each order in orders
                +session(order.owner.name, order.time, order.service.logo, order.service._id)
                each subscriber in order.subscriber
                    console.log(subscriber)
                    +subscriber(subscriber.person.name, subscriber.dishes)
                form(action="/mymenu", method="post")
                    input(type="hidden", name="orderNameCustomer" value="#{order.owner.name}")
                    input(type="hidden", name="orderTime" value="#{order.time}")
                    input(type="hidden", name="orderServiceId" value="#{order.service._id}")
                    +session(order.owner.name, order.time, order.service.logo, order.service._id)
        +footer("Заказывайте еду на нашей стороне, на темной стороне...")
        button.total__button(onclick="document.getElementById('block').style.display='block'") Total

    #total.total
        .total__close(onclick="document.getElementById('total').style.display='none'")
        .total__content
            .total__title Итого
            +group(
            'Супы', [
                {title_dish: 'Блюдо 1', link: 'http://www.pizzatempo.by/menu/obed.html', quantity: '3', price: '170'},
                {title_dish: 'Блюдо 1', link: 'http://www.pizzatempo.by/menu/obed.html', quantity: '3', price: '170'}]
            )
            +group(
            'Супы', [
                {title_dish: 'Блюдо 1', link: 'http://www.pizzatempo.by/menu/obed.html', quantity: '3', price: '170'},
                {title_dish: 'Блюдо 1', link: 'http://www.pizzatempo.by/menu/obed.html', quantity: '3', price: '170'}]
            )
            +group(
            'Супы', [
                {title_dish: 'Блюдо 1', link: 'http://www.pizzatempo.by/menu/obed.html', quantity: '3', price: '170'},
                {title_dish: 'Блюдо 1', link: 'http://www.pizzatempo.by/menu/obed.html', quantity: '3', price: '170'}]
            )
            +group(
            'Супы', [
                {title_dish: 'Блюдо 1', link: 'http://www.pizzatempo.by/menu/obed.html', quantity: '3', price: '170'},
                {title_dish: 'Блюдо 1', link: 'http://www.pizzatempo.by/menu/obed.html', quantity: '3', price: '170'}]
            )

    script.
        timer(document.getElementById('time').innerHTML);
