extends ../views/layout/layout
include ../blocks/button/button
include ../blocks/header/header
include ../blocks/session/session
include ../blocks/menuitem/menuitem
include ../blocks/group/group
include ../blocks/offers/offers
include ../blocks/sidebarmenu/sidebarmenu
include ../blocks/footer/footer
include ../blocks/basket/basket

block title
    title Страница компании
block content
    +header(user)
    .main-wrapper
        .main-wrapper__company
            +offers(service, "offers_company", "offers__down-text-mod")
                .feels
                    span.feels__voices Всего голосов: 1234
                    .feels__like
                        span.like__pcnt 88%
                    .feels__dislike
                        span.dislike__pcnt 12%
            +sidebarmenu("Блюда", "sidebar-menu_comppage")
            .main-wrapper__menu
                span.main-wrapper__title Что вы хотите съесть сегодня?
                each dish in service.dishes
                    form(action="/orders", method="post")
                        input(type="hidden", name="dishId" value="#{dish._id}")
                        input(type="hidden", name="dishTitle" value="#{dish.title}")
                        input(type="hidden", name="dishPrice" value="#{dish.price}")
                        +menuitem(dish)
        +footer("Заказывайте еду на нашей стороне, на темной стороне...")
        +basket(orders, service)


