extends ../views/layout/layout
include ../blocks/button/button
include ../blocks/header/header
include ../blocks/session/session
include ../blocks/menuitem/menuitem
include ../blocks/group/group
include ../blocks/offers/offers
include ../blocks/offers-plugin/offers-plugin
include ../blocks/sidebarmenu/sidebarmenu
include ../blocks/footer/footer

block title
    title Выбор места заказа
block content
    +header(user)
    .main-wrapper
        .main-wrapper__carry
            +sidebarmenu("Кухни/Блюда")
            each service in services
                +offers(service)
                    +offers-plugin(service)  
                    //- дикий костыль, если будет время - переделать, потому что хуже костыля я еще не видел!
        +footer("Заказывайте еду на нашей стороне, на темной стороне...")