extends ../views/layout/layout
include ../blocks/button/button
include ../blocks/header/header
include ../blocks/session/session
include ../blocks/menuitem/menuitem
include ../blocks/group/group
include ../blocks/offers/offers
include ../blocks/sidebarmenu/sidebarmenu
include ../blocks/footer/footer

block title
    title Выбор места заказа
block content
    +header()
    .main-wrapper
        .main-wrapper__carry
            +sidebarmenu("Кухни/Блюда")
            each service in services
                +offers(service)
        +footer("Заказывайте еду на нашей стороне, на темной стороне...")

//!--
    form(action="services/:id" method="post")
        div
            span.label time
            input(type="text" id="orderTime" name="orderTime")
        div
            span.label id
            input(type="hidden" id="serviceId" name="serviceId" value="571b8aea4f6319ce591479db")
        input(type="submit" value="Submit")
