include ../button/button
include ../header/header
include ../basket/basket
include ../order/order
include ../session/session
include ../menuitem/menuitem

mixin mainpage()
    .main
        +session("Константин Константинопольский", "14:37", "/images/logo-pizza.png")
        +session("Константин Константинопольский", "14:37", "/images/logo-pizza.png")
        +session("Константин Константинопольский", "14:37", "/images/logo-pizza.png")
        +session("Константин Константинопольский", "14:37", "/images/logo-pizza.png")
        +session("Константин Константинопольский", "14:37", "/images/logo-pizza.png")
    footer.main-footer
        .main-footer__text Этот божий проект работает при поддержке LDS developers. 

