.main {
  min-height: 100%;
  margin: auto;
  background-color: #f5f5f5;
}
.header {
  max-height: 90px;
  font-size: 22pt;
  font-family: "Verdana", scans-serif;
  color: #fa2d2d;
  background-color: #fff;
}
.header__title {
  padding: 10px;
  margin: 0;
}
.header__logo {
  position: absolute;
  right: 0;
  top: 0;
}
.wrapper {
  width: 90%;
  margin: auto;
}
.wrapper__header {
  position: relative;
  top: 30px;
}
.wrapper__header_create-new {
  display: block;
  position: relative;
  height: 50px;
  width: 270px;
  font-size: 16pt;
  background-color: #c41414;
  color: #fff;
}
.wrapper__header_create-new:hover {
  background-color: #fff;
  color: #c41414;
}
.wrapper__body {
  position: relative;
  top: 70px;
}
