@import '../../stylus/vars.styl'

.person
	width 100%	
	padding 15px 0
	
.person__photo
	border-radius 50%
	width 100px
	height 100px
	position relative
	left 50%
	margin-left -50px

.person__name
	text-align center
	font-size 20pt
