@import "../vars.styl"

.main
    min-height 100%
    margin auto

.main
    min-height: 100%
    margin:auto
    background-color: #F5F5F5
    font-family: main-font

.header
    max-height: 90px
    font-size: 2em
    color: buttons-text-color
    background-color: buttons

.header__title
    padding: 10px
    margin: 0

.header__logo
    position: absolute
    right:100px
    top: 0

.header__bell
    position: absolute
    width: 50px
    right:0
    top:0

.header__create-new
    display: block
    position: relative
    line-height: 50px
    padding: 5px
    font-size: 1em
    background: buttons
    color: #ffffff
    margin-left: 40%
    margin-right: 40%

.header__create-new:hover
    background-color: white
    color: buttons 
    font-size 15pt
    background buttons
    color light-text-color

.header 
    max-height 90px
    font-size 22pt
    font-family main-font
    background-color #FFFFFF
    
.header__title 
    padding 10px
    margin 0
.header__logo 
    position absolute
    right 0
    top 0
.wrapper 
    width 90%
    margin auto
.wrapper__header 
    position relative
    top 30px
.wrapper__header_create-new 
    display block
    position relative
    height 50px
    width 270px
    font-size 16pt
    background-color buttons
    color white
    &:hover 
        background-color white
        color buttons
.wrapper__body 
    position relative
    top 70px
