@import "../vars.styl"

.main
    min-height 100%
    margin auto

.main
    min-height: 100%
    margin:auto
    background-color: #F5F5F5
    font-family: main-font
    
.wrapper 
    width 90%
    margin auto
.wrapper__header 
    position relative
    top 30px
.wrapper__header_create-new 
    display block
    position relative
    height 50px
    width 270px
    font-size 16pt
    background-color buttons
    color white
    &:hover 
        background-color white
        color buttons
.wrapper__body 
    position relative
    top 70px
