@import "../vars.styl"

transition(condition)
    if(condition==ease-in-out)
        transition all 0.5s ease-in-out
    else if(condition==linear)
        transition all 0.35s 0.1s linear           
scale(condition)
    transform 'scale(%s)' % condition
translateY(condition)
    transform 'translateY(%s)' % condition
        
box-sizing()
    box-sizing border-box
 
.menu-item
    overflow hidden
    text-align center
    width 200px
    height 200px
    position relative
    transition(ease-in-out)
    background rgba(12, 34, 52, 0.8)
    box-sizing()
    margin 6px
.menu-item__image
    width 100%
    height 100%
    background url("../../images/menuItem/vakkanai_maki.jpg")
    background-size cover
    transition(ease-in-out)
.menu-item__info
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    text-align center
    backface-visibility hidden
    visibility hidden
    opacity 0
    transition(ease-in-out)
.menu-item__title
    background rgba(12, 34, 52, 0.8)
    text-transform uppercase
    color #fff
    font-weight bold
    font-size 17px
    padding 10px
    margin 10% 0 0 0
    height 10%
    transition(ease-in-out)
.menu-item__other-info
    background rgba(12, 34, 52, 0.6)
    font-style italic
    font-size 16px
    position relative
    color #bbb
    height 100%
    margin-top 50%
    transition(linear)
                
.menu-item:hover
    .menu-item__image
        scale(1.2)
    .menu-item__title
        translateY(40%)
    .menu-item__other-info
        translateY(-10%)
    .menu-item__info 
        visibility visible
        opacity 1


