@import '../../stylus/vars.styl'

.main-wrapper__company
    width 980px
    margin 0 auto
    padding 30px
    overflow hidden


.offers_company
    width 950px

.feels
    width 150px
    float left
    position absolute
    margin-left 530px

.feels__like 
    width 50px
    height 50px
    background url(../images/comppage/like.jpg) 156px 146px
    float left
    margin 10px 0 0 10px
    cursor pointer

.feels__dislike 
    width 50px
    height 50px
    background url(../images/comppage/like.jpg) 252px 146px
    float left
    margin 10px 0 0 40px
    cursor pointer

.feels__voices
    font-size 14px
    width 120px
    height 20px
    display block
    margin 0 auto

.like__pcnt
    width 20px
    height 20px
    color green
    display block
    margin 0 auto 
    margin-top 50px

.dislike__pcnt
    width 20px
    height 20px
    color red
    display block
    margin 0 auto 
    margin-top 50px

.main-wrapper__menu
    width 675px;
    background #ccc
    float left
    margin-top 15px
    margin-left 30px
    overflow hidden