@import "stylus/vars.styl"
@import "stylus/**/*.styl"
@import "blocks/header/header.styl"
@import "blocks/button/button.styl"
@import "blocks/basket/basket.styl"
@import "blocks/order/order.styl"
@import "blocks/session/session.styl"
@import "blocks/company/company.styl"
@import "blocks/menuitem/menuitem.styl"
@import "blocks/mainpage/mainpage.styl"
@import "blocks/group/group.styl"
@import "blocks/offers/offers.styl"
@import "blocks/company-info/company-info.styl"
@import "blocks/cook-info/cook-info.styl"
@import "blocks/another-info/another-info.styl"
@import "blocks/auth/auth.styl"
@import "blocks/sidebarmenu/sidebarmenu.styl"
@import "blocks/footer/footer.styl"
@import "blocks/menupage/menupage.styl"
@import "blocks/companypage/companypage.styl"
@import "blocks/fullscreencompany/fullscreencompany.styl"
@import "blocks/offers-plugin/offers-plugin.styl"

*
    margin 0
    padding 0

html, body
    height 100%
    font-family "Verdana", sans-serif


