$header: #FFFFFF;
$header-text-color: #FA2D2D;
$buttons: #C41414;
$buttons-text-color: #ffffff;
$company-header: #FFF5BF;
$main-font: "Verdana", scans-serif;
.main{
    min-height: 100%;
    margin:auto;
    background-color: #F5F5F5;
}
.header{
    max-height: 90px;
    font-size: 22pt;
    font-family: $main-font;
    color: $header-text-color;
    background-color: $header;
}
.header__title{
    padding: 10px;
    margin: 0;
}
.header__logo{
    position: absolute;
    right:0;
    top: 0;
}
.wrapper{
    width:90%;
    margin: auto;
}
.wrapper__header{
    position: relative;
    top: 30px;
}
.wrapper__header_create-new{
    display: block;
    position: relative;
    height: 50px;
    width: 270px;
    font-size: 16pt;
    background-color: $buttons;
    color: white;
}
.wrapper__header_create-new:hover{
    background-color: white;
    color: $buttons;
}
.wrapper__body{
    position:relative;
    top: 70px;
}
.companies{

}