@import '../../stylus/vars.styl'

.another-info
    width 100%

.another-info__cost
    width 64.6%
    margin-top 10px

.another-info__text
    font-size 0.75em
    margin-top -18px
    color offers-grey

.another-info__dep
    width 64.6%
    margin 16px 0 0 0


.another-info__time
    margin-top 10px
    width 64.6%

.another-info__mod
    width 20%

.another-info__mncost
    margin-left 118px

.another-info__dlcost
    margin-left 127px

.another-info__dptime
    margin-left 215px


@media screen and (max-width: 1000px)
    .another-info
        padding-top 10px

    .another-info__cost
        padding 0 0 0 140px
        margin 0 auto
        margin-top 15px

    .another-info__dep
        margin 0 auto
        margin-top 10px
        padding 0 0 0 140px

    .another-info__time
        margin 0 auto
        float none
        margin-top 10px
        padding 0 0 0 140px



@media screen and (max-width: 800px)
    .another-info
        margin 0

    .another-info__cost
        width 50%
        margin-top 40px
        padding 0 0 0 62px
    
    .another-info__mncost
        position absolute
        margin-left 27px
        margin-top 15px

    .another-info__dep
        width 50%
        margin-top 40px
        padding 0 0 0 62px

    .another-info__dlcost
        position absolute
        margin-left 27px
        margin-top 15px

    .another-info__time
        width 50%
        margin-top 40px
        padding 0 0 0 62px

    .another-info__dptime
        position absolute
        margin-left 27px
        margin-top 15px

@media screen and (max-width: 744px)
    .another-info__dptime
        margin-top 26px

@media screen and (max-width: 480px)
    .another-info
        margin-left -30px

    .another-info__mncost
        margin-left 0

    .another-info__dlcost
        margin-left 0

    .another-info__dptime
        margin-left 0

@media screen and (max-width: 440px)
    .another-info__cost
        margin-top 50px
    .another-info__mncost
        margin-top 25px
    .another-info__dlcost
        margin-top 25px
    .another-info__dptime
        margin-top 25px