mixin another-info(mincost, derpature, timework)
        .another-info
            .another-info__cost= mincost
                .another-info__text мин-сумма заказа
            .another-info__dep= derpature
                .another-info__text стоимость доставки
            .another-info__time= timework
                .another-info__text гарантированное время доставки

