mixin another-info(service)
        .another-info
            .another-info__cost= service.mincost
                .another-info__text мин-сумма заказа
            .another-info__dep= service.costDelivery
                .another-info__text стоимость доставки
            .another-info__time= service.departureTime
                .another-info__text гарантированное время доставки

