mixin another-info(mincost, costDelivery, departureTime)
        .another-info
            .another-info__cost= mincost
                .another-info__text мин-сумма заказа
            .another-info__dep= costDelivery
                .another-info__text стоимость доставки
            .another-info__time= departureTime
                .another-info__text гарантированное время доставки

