include ../button/button
include ../auth/auth

mixin header(person)
    .header
        .header__block
            a.header__logo(alt="logo" href="/home")
            .header__slogan
            a.header__link-adminRoom(href="") Мои кабинет
            +button("Сделать заказ", "header__button")
