@import '../../stylus/vars.styl'

transition(condition)
    if(condition==ease-in-out)
        transition all 0.5s ease-in-out
    else if(condition==linear)
        transition all 0.35s 0.1s linear           
scale(condition)
    transform 'scale(%s)' % condition
translateY(condition)
    transform 'translateY(%s)' % condition
        
box-sizing()
    box-sizing border-box
 
.menu-item
    overflow hidden
    text-align center
    position relative
    transition(ease-in-out)
    box-sizing()
    padding 10px
    display inline-block
    width 49%

.menu-item__image
    width 100%
    transition(ease-in-out)
.menu-item__info
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    text-align center
    backface-visibility hidden
    visibility hidden
    opacity 0
    transition(ease-in-out)
.menu-item__title
    background rgba(12, 34, 52, 0.8)
    text-transform uppercase
    color #fff
    font-weight bold
    font-size 0.9em
    padding 10px
    padding-top 0
    padding-bottom 3px
    transition(ease-in-out)
.menu-item__other-info
    background rgba(12, 34, 52, 0.6)
    font-style italic
    font-size 18px
    position absolute
    color #fff
    margin-top 50%
    width 100%
    padding 5px
    bottom -6px
    transition(linear)
                
.menu-item:hover
    .menu-item__image
        scale(1.2)
    .menu-item__title
        translateY(10%)
    .menu-item__other-info
        translateY(-10%)
    .menu-item__info 
        visibility visible
        opacity 1

.main-wrapper__menuitem
    display inline
