include ../button/button

mixin menuitem(dish)
    .menu-item
        img.menu-item__image(src= dish.picture)
        .menu-item__info
            .menu-item__title= dish.name
            .menu-item__other-info
                .menu_item__price= dish.price
                +button("В заказ!", ["button_size-s"])
